<img style="float: left;;" src='https://github.com/Enr1queRojas/Propedeutico/blob/main/Introduccion/Imagenes/iteso.jpg?raw=1' width="50" height="100"/></a>

# <center> <font color= #000047> Introducción a Python: Listas, Iteraciones y Strings


<img style="float: right; margin: 0px 0px 15px 15px;" src="https://www.python.org/static/community_logos/python-logo.png" width="200px" height="200px" />

> Ya conocemos un poco más de la sintaxis de Python, como hacer funciones y como usar condicionales. Es hora que veamos otros tipos de variables (arreglos) y cómo hacer líneas de código que ejecuten operaciones repetitivas.

Referencias:
- https://www.kaggle.com/learn/python
___

# 1. Listas

Las listas son objetos en Python representan secuencias ordenadas de valores. 

Veamos un par de ejemplos de como crearlas:

In [ ]:
# Primeros números primos

# Planetas del sistema solar

Vemos que las listas no son exclusivamente de números. 

Ya vimos listas de números, pero también de strings.

Incluso, se pueden hacer listas de listas:

Aún más, se pueden hacer listas de diferentes tipos de objetos:

Sin duda, en muchas ocasiones nos será muy útil tener una sola lista guardando varios resultados, que muchos resultados guardados en objetos individuales.

Pero, una vez en la lista, ¿cómo accedemos a los objetos individuales?

## 1.1 Indizado

Podemos acceder a los elementos individuales pertenecientes a la lista a través de brackets ([])

Por ejemplo, ¿cuál planeta está más cercano al sol en nuestro sistema solar?

- Acá una nota importante: Python usa índices comenzando en cero (0):

In [ ]:
# Planeta más cercano al sol

In [ ]:
# Siguiente planeta

Todo bien...

Ahora, ¿cuál es el planeta más alejado del sol?

- Los elementos de una lista pueden tambien ser accedidos de atrás para adelante, utilizando números negativos:

In [ ]:
# Planeta más alejado del sol

In [ ]:
# Segundo planeta más alejado

Muy bien...

Y si quisiéramos averiguar, por ejemplo, ¿cuáles son los tres planetas más cercanos al sol?

In [ ]:
# Tres primeros planetas

Entonces `lista[a:b]` es nuestra manera de preguntar por todos los elementos de la lista con índice comenzando en `a` y continuando hasta `b` sin incluir (es decir, hasta `b-1`).

Los índices de comienzo y de término son opcionales:
- Si no ponemos el índice de inicio, se asume que es cero (0): `lista[:b] == lista[0:b]`

In [ ]:
# Reescribir la expresión anterior

- Equivalentemente, si no ponemos el índice de fin, se asume que este equivale a la longitud de la lista:

In [ ]:
# Lista de todos los planetas comenzando desde el planeta tierra

También podemos usar índices negativos cuando accedemos a varios objetos.

Por ejemplo, ¿qué obtenemos con las siguientes expresión?

```python
lista[n:n + N] = [lista[n], lista[n + 1], ..., lista[n + N - 1]]
```

Slice:

```python
lista[n:n+N:s] = [lista[n], lista[n + s], lista[n + 2 * s], ..., ]
```

In [ ]:
# Elementos de la lista en reverso (al revés)

## 1.2 Modificando listas

Las listas son objetos "mutables", es decir, sus objetos pueden ser modificados directamente en la lista.

Una manera de modificar una lista es asignar a un índice.

Por ejemplo, supongamos que la comunidad científica, con argumentos basados en la composición del planeta, decidió modificar el nombre de "Planeta Tierra" a "Planeta Agua".

También podemos cambiar varios elementos de la lista a la vez:

## 1.3 Funciones sobre listas

Python posee varias funciones supremamente útiles para trabajar con listas.

`len()` nos proporciona la longitud (número de elementos) de una lista:

In [ ]:
# función len()

`sorted()` nos regresa una versión ordenada de una lista:

In [ ]:
# Ayuda en la función sorted

In [ ]:
# Llamar la función sorted sobre primos

In [10]:
planetas = ['Mercurio','Venus','Vierra','Marte','Jupiter','Staurno','Urano','Neptuno']

SyntaxError: ignored

In [13]:
Planetas

['Mercurio',
 'Venus',
 'Vierra',
 'Marte',
 'Jupiter',
 'Staurno',
 'Urano',
 'Neptuno']

In [ ]:
# Llamar la función sorted sobre planetas
def long_str2 (s):
  return len(s)

In [14]:
long_str2 = lambda s: len(s)

**Paréntesis: Funciones anónimas**

Las funciones anónimas comienzan con la palabra clave `lambda` seguidas por el (los) argumento(s) de la función. Después de `:` se escribe lo que retorna la función.

In [18]:
sorted(planetas,key=long_str2)

['Venus', 'Tierra', 'Mercurio']

`sum()`, ya se imaginarán que hace:

In [ ]:
# Ayuda en la función sum

In [ ]:
# sum

En la clase pasada utilizamos las funciones `min()` y `max()` sobre varios argumentos.

También le podemos pasar un solo argumento tipo lista.

In [21]:
# min
primos = [2,5,3,7]
print(min(primos))

2

In [22]:
# max
print(max(primos))

7

___
## Pausa: Objetos

Hasta ahora he venido utilizando la palabra **objeto** sin darle mucha importancia. ¿Qué significa en realidad?

- si han visto algo de Python, pueden haber escuchado que todo en Python es un objeto.

En la siguiente semana estudiaremos a nivel muy básico qué es la programación orientada a objetos.

Por ahora, nos basta con saber que los objetos cargan varias "cosas" con ellos, y podemos acceder a estas "cosas" utilizando la "sintaxis punto (.)" de Python.

Por ejemplo, los números en Python tienen una variable asociada llamada `imag`, la cual representa su parte imaginaria:

In [23]:
# Atributos real e imag = a + bi = 7 + 0i
a=7
a.imag, a.real

(0, 7)

In [24]:
dir(a)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [25]:
type(a)

int

In [27]:
a.denominator, a.numerator

(1, 7)

In [29]:
b= (6+5j)/3

In [30]:
b.real, b.imag

(2.0, 1.6666666666666667)

In [31]:
c = 5/3

In [34]:
c.as_integer_ratio()

(7505999378950827, 4503599627370496)

Entre las "cosas" que los objetos cargan, también pueden haber funciones. 

Una función asociada a un objeto se llama **método**.

Las "cosas" asociadas a los objetos, que no son funciones, son llamados **atributos** (ejemplo: imag).

In [35]:
# Método conjugate()
b

(2+1.6666666666666667j)

In [36]:
b.conjugate()

(2-1.6666666666666667j)

Y si no sabemos qué hace un método determinado en un objeto, también podemos pasar métodos a la función `help()`, de la misma manera en que le pasamos funciones:

In [ ]:
# help(objeto.metodo)

Bueno, ¿y esto de que nos sirve?

Pues las listas tienen una infinidad de métodos útiles que estaremos usando...
___

## 1.4 Métodos de las listas

`list.append()` modifica una lista añadiéndole un elemento en el final:

In [44]:
planetas.append('Pluton')
print(planetas)

['Mercurio', 'Venus', 'Tierra', 'Pluton', 'Pluton', 'Pluton', 'Pluton', 'Pluton', 'Pluton']

In [42]:
# Plutón también es un planeta
print(planetas2)

None

¿Porqué no obtuvumos una salida en la celda de arriba?

Verifiquemos la documentación del método append:

**Comentario:** append es un método de todos los objetos tipo `list`, de manera que habríamos podido llamar `help(list.append)`. Sin embargo, si intentamos llamar `help(append)`, Python nos dirá que no existe nada con el nombre "append", pues `append` solo existe en el contexto de listas.

`list.pop()` remueve y devuelve el último elemento de una lista:

In [45]:
# Que Plutón siempre no es un planeta
planetas.pop()

'Pluton'

In [46]:
planetas[:4]

['Mercurio', 'Venus', 'Tierra', 'Pluton']

In [47]:
len(planetas)

8

In [48]:
planetas

['Mercurio',
 'Venus',
 'Tierra',
 'Pluton',
 'Pluton',
 'Pluton',
 'Pluton',
 'Pluton']

In [52]:
planetas = ['Mercurio','Venus','Vierra','Marte','Jupiter','Staurno','Urano','Neptuno']
planetas

['Mercurio',
 'Venus',
 'Vierra',
 'Marte',
 'Jupiter',
 'Staurno',
 'Urano',
 'Neptuno']

In [55]:
planetas.append("Pulton")
planetas.append("Pulton")

In [56]:
planetas

['Mercurio',
 'Venus',
 'Vierra',
 'Marte',
 'Jupiter',
 'Staurno',
 'Urano',
 'Neptuno',
 'Pulton',
 'Pulton',
 'Pulton']

In [58]:
planetas.pop(-1)

'Pulton'

In [59]:
planetas

['Mercurio',
 'Venus',
 'Vierra',
 'Marte',
 'Jupiter',
 'Staurno',
 'Urano',
 'Neptuno',
 'Pulton']

### 1.4.1 Buscando en listas

¿En qué lugar de los planetas se encuentra la Tierra? Podemos obtener su índice usando el método `list.index()`:

In [62]:
planetas

['Mercurio',
 'Venus',
 'Vierra',
 'Marte',
 'Jupiter',
 'Staurno',
 'Urano',
 'Neptuno',
 'Pulton']

In [69]:
# índice del planeta tierra
planetas.index('Marte')

3

Está en el tercer lugar (recordar que el indizado en Python comienza en cero)

¿En qué lugar está Plutón?

In [ ]:
# índice del planeta plutón

<font color=red> Error ... </font> ¡como debe ser!

Para evitar este tipo de errores, existe el operador `in` para determinar si un elemento particular pertenece a una a una lista:

In [70]:
planetas = ['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Staurno',
 'Urano',
 'Neptuno',
 'Pulton']

In [72]:
planetas.pop()

'Pulton'

In [73]:
# ¿Es la Tierra un planeta?
if 'Tierra' in planetas:
  print('Tierra es un planeta')

Tierra es un planeta

In [76]:
# ¿Es Plutón un planeta?
'Pluton' in planetas

False

In [81]:
if 'Pluton' not in planetas:
  print('Pluton no es un planeta')

Pluton no es un planeta

In [91]:
# Usar esto para evitar el error de arriba
def is_inlist(string,lista):
  if 'Pluton' in planetas:
    planetas.index('Pluton')
  else:
    print(f'{string} no esta en la lista')
  return planetas

In [93]:
is_inlist("Marte",planetas)

Marte no esta en la lista

['Mercurio',
 'Venus',
 'Tierra',
 'Marte',
 'Jupiter',
 'Staurno',
 'Urano',
 'Neptuno']

Hay otros métodos interesantes de las listas que no veremos. Si quieren aprende más acerca de todos los métodos y atributos de un objeto particular, podemos llamar la función `help()` sobre el objeto.

Por ejemplo:

In [94]:
primos

[2, 5, 3, 7]

In [96]:
primos.extend([11,13])

In [97]:
primos

[2, 5, 3, 7, 11, 13]

In [99]:
primos.sort()

None

In [100]:
primos

[2, 3, 5, 7, 11, 13]

In [102]:
primos.sort(reverse=True)

In [103]:
primos

[13, 11, 7, 5, 3, 2]

In [ ]:
# Ejercicio: crear una funcion que reciba 2 parametros de entrada iter, list
# Si la lista contiene menos de 5 valores extender esa lista con con esos valores

In [135]:
def extension_tool(iter,lista):
  if len(lista)<5:
    lista.extend(iter)
    print(liter) and print("iter")
  else:
    print(lista)

In [105]:
lista = [1,2,3,4]

In [106]:
liter = [5,6,7]

In [108]:
len(lista)

4

In [136]:
extension_tool(lista,liter)

[5, 6, 7, 1, 2, 3, 4, 5, 6, 7]

## 1.5 Tuplas

También son arreglos de objetos similares a las listas. Se diferencian en dos maneras:

- La sintaxis para crear tuplas usa paréntesis (o nada) en vez de brackets:

In [ ]:
# O equivalentemente

- Las tuplas, a diferencia de las listas, no pueden ser modificadas (son objetos inmutables):

In [ ]:
# Intentar modificar una tupla

Las tuplas son usadas comúnmente para funciones que devuelven más de un valor.

Por ejemplo, el método `as_integer_ratio()` de los objetos `float`, devuelve el numerador y el denominador en la forma de una tupla:

In [ ]:
# as_integer_ratio

In [ ]:
# Ayuda en el método float.as_integer_ratio

También pueden ser usadas como un atajo:

# 2. Ciclos o iteraciones

## 2.1 Ciclos `for`

Las iteraciones son una manera de ejecutar cierto bloque de código repetidamente:

In [ ]:
# Planetas, de nuevo

In [ ]:
# Imprimir todos los planetas en la misma línea

Para construir un ciclo `for`, se debe especificar:

- el nombre de la variable que va a iterar (planeta),

- el conjunto de valores sobre los que va a iterar la variable (planetas).

Se usa la palabra `in`, en este caso, para hacerle entender a Python que *planeta* va a iterar sobre *planetas*.

El objeto a la derecha de la palabra `in` puede ser cualquier objeto **iterable**. Básicamente, un iterable es cualquier arreglo (listas, tuplas, conjuntos, arreglos de numpy, series de pandas...).

Por ejemplo, queremos hallar la multiplicación de todos los elementos de la siguiente tupla.

In [ ]:
# Multiplicación como ciclo

Incluso, podemos iterar sobre los caracteres de un string:

In [ ]:

# Imprimir solo los caracteres en mayúscula, sin espacios, uno seguido de otro

### 2.1.1 Función `range()`

La función `range()` es una función que devuelve una secuencia de números. Es extremadamente útil para escribir ciclos for.

Por ejemplo, si queremos repetir una acción 5 veces:

In [6]:
# For de 5 iteraciones
planetas = ['Mercurio','Venus','Tierra']
planetas

['Mercurio', 'Venus', 'Tierra']

**Actividad:**

1. Escribir una función que devuelva los primeros $n$ elementos de la sucesión de Fibonacci, usando un ciclo `for`.

In [5]:
# Código aquí

## 2.2 Ciclos `while`

Son otro tipo de ciclos en Python, los cuales iteran hasta que cierta condición deje de cumplirse.

Por ejemplo:

El argumento de un ciclo `while` se evalúa como una condición lógica, y el ciclo se ejecuta hasta que dicha condición sea **False**.

**Ejercicio:**

1. Escribir una función que devuelva los primeros $n$ elementos de la sucesión de Fibonacci, usando un ciclo `while`.

2. Escribir una función que devuelva los elementos menores a cierto número $x$ de la sucesión de Fibonacci, usando un ciclo `while`.

In [ ]:
fibonacci_while(10)

## Pausa: Recursión

Una manera adicional de ejecutar iteraciones se conoce como *recursión*, y sucede cuando definimos una función en términos de sí misma.

Por ejemplo, el $n$-ésimo número de la secuencia de Fibonacci, recursivamente sería:

## 2.3 List comprehensions (no encuentro una traducción suficientemente buena de esto)

List comprehension son una de las características más chidas de Python. La manera más fácil de entenderla, como muchas cosas, es revisando ejemplos:

In [ ]:
# Primero, con ciclo for: listar los cuadrados de los 10 dígitos

In [ ]:
# Ahora con una list comprehension

Podemos agregar, incluso, condicionales:

In [ ]:
# Ejemplo con los planetas

Se puede usar para dar formato:

In [ ]:
# str.upper()

Es supremamente importante aprender esto, ya que es ampliamente utilizado y ayuda a reducir muchísimas líneas de código.

Ejemplo: escribir la siguiente función usando un ciclo for.

Ahora, con list comprehensions:

In [ ]:
# Probar la función

# 3. Strings y diccionarios

## 3.1 Strings

Si hay algo en lo que Python es la ley es manipulando Strings. En esta sección veremos algunos de los métodos de los objetos tipo string, y operaciones de formateo (muy útiles en la limpieza de bases de datos, por cierto).

### 3.1.1 Sintaxis string

Ya hemos visto varios ejemplos involucrando strings anteriormente. Solo para recordar:

Hay casos particulares para preferir una u otra:

- Las comillas dobles son convenientes si tu string contiene un apóstrofe.

- De manera similar, se puede crear fácilmente un string que contiene comillas dobles englobándolo en comillas simples.

Ejemplos:

### 3.1.2 Los strings son iterables

Los objetos tipo strings son cadenas de caracteres. Casi todo lo que vimos que le podíamos aplicar a una lista, se lo podemos aplicar a un string.

In [ ]:
# string de ejemplo

In [ ]:
# Indexado

In [ ]:
# Indexado multiple

In [ ]:
# ¿Cuántos caracteres tiene?

In [ ]:
# También podemos iterar sobre ellos

Sin embargo, una diferencia principal con las listas, es que son inmutables (no los podemos modificar).

### 3.1.3 Métodos de los strings

Como las listas, los objetos tipo `str` tienen una gran cantidad de métodos útiles.

Veamos algunos:

In [ ]:
# string de ejemplo

In [ ]:
# EN MAYÚSCULAS

In [ ]:
# en minúsculas

In [ ]:
# pregunta: comienza con?

In [ ]:
# pregunta: termina con?

#### Entre listas y strings: métodos `split()` y `join()`

El método `str.split()` convierte un string en una lista de strings más pequeños.

Esto es supremamente útil para tomar de un string cada una de sus palabras:

O para obtener cierta información:

In [ ]:
# Año, mes y día de una fecha especificada como string

`str.join()` nos sirve para devolver los pasos. 

Teniendo una lista de pequeños strings, la podemos convertir en un solo string usando el string sobre el que se llama como separador:

In [ ]:
# Con la fecha...

### 3.1.4 Concatenación de strings

Python nos permite concatenar strings con el operador `+`:

In [ ]:
# Ejemplo

Sin embargo, hay que tener cuidado:

In [ ]:
# Concatenar un string con un número

## 3.2 Diccionarios

Los diccionarios son otros objetos de Python que mapean llaves a elementos:

En este caso, los strings "uno", "dos", y "tres" son las llaves, y los números 1, 2 y 3 son sus valores correspondientes.

Los valores son accesados con brackets, similarmente a las listas:

Usamos una sintaxis similar para añadir otro par llave, valor

O cambiar el valor asociado a una llave existente

### Navegando entre listas, tuplas, diccionarios: `zip`

Supongamos que tenemos dos listas que se corresponden:

¿Cómo puedo asociar estos valores en un diccionario? Con `zip`:

In [ ]:
# Primero, obtener la lista de pares

In [ ]:
# Después obtener diccionario de relaciones

Al ser los diccionarios iterables, puedo iterar sobre ellos (valga la redundancia)

In [ ]:
# Iterar sobre diccionario

In [ ]:
# Iterar sobre valores

In [ ]:
# Iterar sobre pares llave-valor

___
- Quiz 1 al comenzar la siguiente clase. Comprende clases 1 y 2.